
{{#section 'title'}}
	Search
{{/section}}


{{#section 'nav'}}
<!-- NAV -->
<li class="active">
	<a href="home/index"><i class="fas fa-home"></i> Trang chủ</a>
</li>

<li class="dropdown">
	<a href="#">
		<i class="fas fa-bars"></i> Xem theo loại sản phẩm</a>
	<div class="dropdown-content">
		{{#each layoutVM.categories}}
		<a href="/category/{{CatID}}">{{CatName}}</a>
		{{/each}}
	</div>
</li>
<li class="dropdown">
	<a href="#">
		<i class="fas fa-bars"></i> Xem theo nhà sản xuất</a>
	<div class="dropdown-content">
		{{#each layoutVM2.producers}}
		<a href="/producer/{{ProduID}}">{{ProduName}}</a>
		{{/each}}
	</div>
</li>
<!-- /NAV -->
{{/section}} 
{{#section 'body'}}

<!-- store products -->
	<h1  style="text-align:center; margin-top:70px">Sản phẩm cần tìm không tồn tại </h1>


	<div class="clearfix visible-sm visible-xs"></div>




	{{/section}}