*{margin: 0; padding: 0;} 

img.logoHome {
    width: 200px;
    margin-top: 30px;
}
nav.navbar.navbar-light.bg-faded.toplogo {
    background-color: transparent;
}
.navbar-light .navbar-nav a.nav-link {
    color: gray;
    font-size: 24px;
    margin: 25px 27px 0px 25px;
}
.navbar-light .navbar-nav a.nav-link:hover {
   color:  white;
   border-bottom: 2px solid white;
   transition: 0.4s;
}

.carousel-caption.text-xs-left.text-carousel {
    bottom: 550px;
}
img.full-screen
{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

div.under-carousel
{
  background-color: #e4e3e3;
  padding-bottom: 70px;
}


button.button-carousel {
    border-radius: 0px;
    border: 2px solid #fbf5f5;
    background-color: transparent;
    color: white;
}
button.button-carousel:hover{
    background-color: white;
    color:  black;
    transition: 0.4s;
}

div.col-sm-4.leftImage
{
  padding: 0;
}
div.col-sm-8.rightText
{
  background-color: white;
  width: 100%;
  height: auto;
  padding-top: 15px;
}

div.row.outside-col
{
  margin-right: 0px;
}

.col-xs-12.text-xs-center.text-under-carousel {
    padding-top: 36px;
    padding-bottom: 58px;
}
small.taolao
{
  font-size: 20px;
}

.foot{
  margin-top: 60px;
}
@media (max-width: 576px){
    *{} /* làm mồi, chỉ có tác dụng trên màn hình di động */
   button.navbar-toggler.hidden-sm-up.float-sm-right.collapsed{float:right;}
   button.navbar-toggler.hidden-sm-up.float-sm-right{float:right;}
   img.logoHome{display: none;}
   nav.navbar.navbar-light.bg-faded.toplogo {
    background-color: #5f755f;
    background-image: url(images/logo.png);
    background-size: 50%;
    background-repeat: no-repeat;

    /* height: 10px;/}

}


