<% include template/header %>

<!-- SECTION SẢN PHẨM BÁN CHẠY NHẤT-->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">SẢN PHẨM BÁN CHẠY NHẤT</h3>
							<!-- <div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class="active"><a data-toggle="tab" href="#tab1">Laptops</a></li>
									<li><a data-toggle="tab" href="#tab1">Smartphones</a></li>
									<li><a data-toggle="tab" href="#tab1">Cameras</a></li>
									<li><a data-toggle="tab" href="#tab1">Accessories</a></li>
								</ul>
							</div> -->
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<!-- product -->

										<!-- Dell Vostro 3568 -->
										<div class="product">
											<a href="./detail/dell/dell vostro 3568.html">
												<div class="product-img">
													<img src="./images/banchay-1.jpg" alt="">
													<div class="product-label">
														<span class="new">NEW</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category">DELL</p>
													<h3 class="product-name">Laptop Dell Vostro 3568-VTI35037</h3>
													<h4 class="product-price">11.090.000₫</h4>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart" style="padding-top: 8px"></i> thêm vào giỏ</button>
												</div>
											</a>
										</div>
										<!-- /product -->

										<!-- Laptop MacBook 13.3" MPXU2LL/A -->
										<!-- product -->
										<div class="product">
											<a href="./detail/apple/mac_MPXU2LL.html">
												<div class="product-img">
													<img src="./images/banchay-2.jpg"  alt="">
													<div class="product-label">
														<span class="new">NEW</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category">APPLE</p>
													<h3 class="product-name">Laptop MacBook 13.3" MPXU2LL/A</h3>
													<h4 class="product-price">39.250.000 ₫ <del class="product-old-price">45.250.000 ₫</del></h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="far fa-heart"></i><span class="tooltipp">add to wishlist</span></button>

														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart" style="padding-top: 8px"></i> thêm vào giỏ</button>
												</div>
											</a>
										</div>
										<!-- /product -->
										
										<!-- Laptop Asus GL503VM-GZ219T -->
										<!-- product -->
										<div class="product">
											<a href="./detail/asus/Asus GL503VM-GZ219T.html">
												<div class="product-img">
													<img src="./images/banchay-3.jpg" alt="">
													<div class="product-label">
														<span class="new">NEW</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category">ASUS</p>
													<h3 class="product-name">Laptop Asus GL503VM-GZ219T (i7-7700HQ)</h3>
													<h4 class="product-price">32.490.000 ₫ <del class="product-old-price">36.490.000 ₫</del></h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="far fa-heart"></i><span class="tooltipp">add to wishlist</span></button>

														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart" style="padding-top: 8px"></i> thêm vào giỏ</button>
												</div>
											</a>
										</div>
										<!-- /product -->
										
										<!-- Laptop MacBook 12" MNYK2ZP/A  -->
										<!-- product -->
										<div class="product">
											<a href="./detail/apple/mac_MPXR2ZP.html">
												<div class="product-img">
													<img src="./images/banchay-4.jpg" alt="">
												</div>
												<div class="product-body">
													<p class="product-category">APPLE</p>
													<h3 class="product-name">Laptop MacBook 12" MNYK2ZP/A </h3>
													<h4 class="product-price">33.450.000 ₫ <del class="product-old-price">37.450.000 ₫</del></h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="far fa-heart"></i><span class="tooltipp">add to wishlist</span></button>

														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart" style="padding-top: 8px"></i> thêm vào giỏ</button>
												</div>
											</a>
										</div>
										<!-- /product -->

										<!-- Laptop Asus UX430UN-GV097T (I7-8550U) -->
										<!-- product -->
										<div class="product">
											<a href="./detail/asus/Asus UX430UN-GV097T.html">
												<div class="product-img">
													<img src="./images/banchay-5.jpg" alt="">
												</div>
												<div class="product-body">
													<p class="product-category">ASUS</p>
													<h3 class="product-name">Laptop Asus UX430UN-GV097T (I7-8550U)</h3>
													<h4 class="product-price">26.990.000 ₫<del class="product-old-price">28.990.000 ₫</del></h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="far fa-heart"></i></i><span class="tooltipp">add to wishlist</span></button>

														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart" style="padding-top: 8px"></i> thêm vào giỏ</button>
												</div>
											</a>
										</div>
										<!-- /product -->

										<!-- Laptop Dell XPS13 9365-K7DWW2 (I7-7Y75-SSD512G) -->
										<!-- product -->
										<div class="product">
											<a href="./detail/dell/Dell XPS13 9365-K7DWW2.html">
												<div class="product-img">
													<img src="./images/banchay-6.jpg" alt="">
													<div class="product-label">
														<span class="new">NEW</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category">DELL</p>
													<h3 class="product-name">Laptop Dell XPS13 9365-K7DWW2 (I7-7Y75-SSD512G)</h3>
													<h4 class="product-price">54.490.000 ₫</h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="far fa-heart"></i></i><span class="tooltipp">add to wishlist</span></button>

														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart" style="padding-top: 8px"></i> thêm vào giỏ</button>
												</div>
											</a>
										</div>
										<!-- /product -->

										<!-- Laptop Dell Inspiron 14 7460-N4I5259W -->
										<!-- product -->
										<div class="product">
											<a href="./detail/dell/Dell Inspiron 14 7460.html">
												<div class="product-img">
													<img src="./images/banchay-7.jpg" alt="">
													<div class="product-label">
														<span class="new">NEW</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category">DELL</p>
													<h3 class="product-name">Laptop Dell Inspiron 14 7460-N4I5259W</h3>
													<h4 class="product-price">16.490.000 ₫ <del class="product-old-price">18.490.000 ₫</del></h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="far fa-heart"></i><span class="tooltipp">add to wishlist</span></button>

														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart" style="padding-top: 8px"></i> thêm vào giỏ</button>
												</div>
											</a>
										</div>
										<!-- /product -->
										
										<!-- Laptop Asus UX510UX-CN204 (I5-7200U) -->
										<!-- product -->
										<div class="product">
											<a href="./detail/asus/Asus UX510UX-CN204.html">
												<div class="product-img">
													<img src="./images/banchay-8.jpg" alt="">
													<div class="product-label">
														<span class="new">NEW</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category">ASUS</p>
													<h3 class="product-name">Laptop Asus UX510UX-CN204 (I5-7200U)</h3>
													<h4 class="product-price">15.490.000 ₫ <del class="product-old-price">18.490.000 ₫</del></h4>
													<div class="product-rating">
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="far fa-heart"></i><span class="tooltipp">add to wishlist</span></button>

														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart" style="padding-top: 8px"></i> thêm vào giỏ</button>
												</div>
											</a>
										</div>
										<!-- /product -->

										<!-- Laptop MSI GP62M 7REX-1497XVN -->
										<!-- product -->
										<div class="product">
											<a href="./detail/msi/msi_GP62M-1497.html">
												<div class="product-img">
													<img src="./images/banchay-9.jpg" alt="">
												</div>
												<div class="product-body">
													<p class="product-category">MSI</p>
													<h3 class="product-name">Laptop MSI GP62M 7REX-1497XVN (I7-7700HQ)</h3>
													<h4 class="product-price">28.990.000 ₫</h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="far fa-heart"></i></i><span class="tooltipp">add to wishlist</span></button>

														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart" style="padding-top: 8px"></i> thêm vào giỏ</button>
												</div>
											</a>
										</div>
										<!-- /product -->

										<!-- Laptop MSI GP72M 7REX-1216XVN (I7-7700HQ) -->
										<!-- product -->
										<div class="product">
											<a href="./detail/msi/msi_GP72M.html">
												<div class="product-img">
													<img src="./images/banchay-10.jpg" alt="">
												</div>
												<div class="product-body">
													<p class="product-category">MSI</p>
													<h3 class="product-name">Laptop MSI GP72M 7REX-1216XVN (I7-7700HQ)</h3>
													<h4 class="product-price">27.999.000 ₫</h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="far fa-heart"></i><span class="tooltipp">add to wishlist</span></button>

														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart" style="padding-top: 8px"></i> thêm vào giỏ</button>
												</div>
											</a>
										</div>
										<!-- /product -->
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
		
		<!-- SECTION SẢN PHẨM MỚI NHẤT-->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">SẢN PHẨM MỚI NHẤT</h3>
							<!-- <div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class="active"><a data-toggle="tab" href="#tab1">Laptops</a></li>
									<li><a data-toggle="tab" href="#tab1">Smartphones</a></li>
									<li><a data-toggle="tab" href="#tab1">Cameras</a></li>
									<li><a data-toggle="tab" href="#tab1">Accessories</a></li>
								</ul>
							</div> -->
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-2">
										
										<!-- Laptop Asus UX430UN-GV097T (I7-8550U) -->
										<!-- product -->
										<div class="product">
											<a href="./detail/asus/Asus UX430UN-GV097T.html">
												<div class="product-img">
													<img src="./images/banchay-5.jpg" alt="">
													<div class="product-label">
														<span class="new">NEW</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category">ASUS</p>
													<h3 class="product-name">Laptop Asus UX430UN-GV097T (I7-8550U)</h3>
													<h4 class="product-price">26.990.000 ₫<del class="product-old-price">28.990.000 ₫</del></h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="far fa-heart"></i><span class="tooltipp">add to wishlist</span></button>

														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart" style="padding-top: 8px"></i> thêm vào giỏ</button>
												</div>
											</a>
										</div>
										<!-- /product -->

										<!-- Laptop MSI GP72M 7REX-1216XVN (I7-7700HQ) -->
										<!-- product -->
										<div class="product">
											<a href="./detail/msi/msi_GP72M.html">
												<div class="product-img">
													<img src="./images/banchay-10.jpg" alt="">
													<div class="product-label">
														<span class="new">NEW</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category">MSI</p>
													<h3 class="product-name">Laptop MSI GP72M 7REX-1216XVN (I7-7700HQ)</h3>
													<h4 class="product-price">27.999.000 ₫</h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="far fa-heart"></i><span class="tooltipp">add to wishlist</span></button>

														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart" style="padding-top: 8px"></i> thêm vào giỏ</button>
												</div>
											</a>
										</div>
										<!-- /product -->

										<!-- MacBook 13.3" -->
										<!-- product -->
										<div class="product">
											<a href="./detail/apple/mac_MPXU2LL.html">
												<div class="product-img">
													<img src="./images/banchay-2.jpg" width="90%" alt="">
													<div class="product-label">
														<span class="new">NEW</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category">APPLE</p>
													<h3 class="product-name">Laptop MacBook 13.3" MPXU2LL/A</h3>
													<h4 class="product-price">39.250.000 ₫ <del class="product-old-price">45.250.000 ₫</del></h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="far fa-heart"></i><span class="tooltipp">add to wishlist</span></button>

														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart" style="padding-top: 8px"></i> thêm vào giỏ</button>
												</div>
											</a>
										</div>
										<!-- /product -->

										<!-- Laptop MacBook 13.3" MPXV2ZP/A  -->
										<!-- product -->
										<div class="product">
											<a href="./detail/apple/mac_MPXV2ZP.html">
												<div class="product-img">
													<img src="./images/moinhat-4.png" alt="">
													<div class="product-label">
														<span class="new">NEW</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category">APPLE</p>
													<h3 class="product-name">Laptop MacBook 13.3" MPXV2ZP/A</h3>
													<h4 class="product-price">45.990.000 ₫ </h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="far fa-heart"></i><span class="tooltipp">add to wishlist</span></button>

														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart" style="padding-top: 8px"></i> thêm vào giỏ</button>
												</div>
											</a>
										</div>
										<!-- /product -->

										<!-- Laptop MacBook 12" MNYH2ZP/A -->
										<!-- product -->
										<div class="product">
											<a href="./detail/apple/mac_MPXR2ZP.html">
												<div class="product-img">
													<img src="./images/moinhat-5.png" alt="">
													<div class="product-label">
														<span class="new">NEW</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category">APPLE</p>
													<h3 class="product-name">Laptop MacBook 12" MNYH2ZP/A</h3>
													<h4 class="product-price">33.450.000 ₫</h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="far fa-heart"></i><span class="tooltipp">add to wishlist</span></button>

														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart" style="padding-top: 8px"></i> thêm vào giỏ</button>
												</div>
											</a>
										</div>
										<!-- /product -->
										
										<!-- Laptop Dell Inspiron 14 3467-M20NR2 -->
										<!-- product -->
										<div class="product">
											<a href="./detail/dell/Dell Inspiron 14 3467-M20NR21.html">
												<div class="product-img">
													<img src="./images/moinhat-6.jpg" alt="">
													<div class="product-label">
														<span class="new">NEW</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category">DELL</p>
													<h3 class="product-name">Laptop Dell Inspiron 14 3467-M20NR2</h3>
													<h4 class="product-price">10.290.000 ₫</h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="far fa-heart"></i><span class="tooltipp">add to wishlist</span></button>

														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart" style="padding-top: 8px"></i> thêm vào giỏ</button>
												</div>
											</a>
										</div>
										<!-- /product -->

										<!-- Laptop MacBook Air MQD42LL/A -->
										<!-- product -->
										<div class="product">
											<a href="./detail/apple/mac_MQD42LL.html">
												<div class="product-img">
													<img src="./images/moinhat-7.jpg" alt="">
													<div class="product-label">
														<span class="new">NEW</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category">APPLE</p>
													<h3 class="product-name">Laptop MacBook Air MQD42LL/A</h3>
													<h4 class="product-price">27.700.000 ₫</h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="far fa-heart"></i><span class="tooltipp">add to wishlist</span></button>

														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart" style="padding-top: 8px"></i> thêm vào giỏ</button>
												</div>
											</a>
										</div>
										<!-- /product -->

										<!-- Laptop MSI GP62M 7REX-1497XVN (I7-7700HQ) -->
										<!-- product -->
										<div class="product">
											<a href="./detail/msi/msi_GP62M.html">
												<div class="product-img">
													<img src="./images/moinhat-8.jpg" alt="">
													<div class="product-label">
														<span class="new">NEW</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category">MSI</p>
													<h3 class="product-name">Laptop MSI GP62M 7REX-1497XVN (I7-7700HQ)</h3>
													<h4 class="product-price">28.990.000 ₫</h4>
													<div class="product-rating">
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="far fa-heart"></i><span class="tooltipp">add to wishlist</span></button>

														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart" style="padding-top: 8px"></i> thêm vào giỏ</button>
												</div>
											</a>
										</div>
										<!-- /product -->

										<!-- Laptop Dell Inspiron 14 7460-N4I5259W -->
										<!-- product -->
										<div class="product">
											<a href="./detail/dell/Dell Inspiron 14 7460.html">
												<div class="product-img">
													<img src="./images/moinhat-9.jpg" alt="">
													<div class="product-label">
														<span class="new">NEW</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category">DELL</p>
													<h3 class="product-name">Laptop Dell Inspiron 14 7460-N4I5259W</h3>
													<h4 class="product-price">16.490.000 ₫</h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="far fa-heart"></i><span class="tooltipp">add to wishlist</span></button>

														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart" style="padding-top: 8px"></i> thêm vào giỏ</button>
												</div>
											</a>
										</div>
										<!-- /product -->

										<!-- Laptop MSI GP72M 7REX-1216XVN -->
										<!-- product -->
										<div class="product">
											<a href="./detail/msi/msi_GP72M.html">
												<div class="product-img">
													<img src="./images/moinhat-10.png" alt="">
													<div class="product-label">
														<span class="new">NEW</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category">MSI</p>
													<h3 class="product-name">Laptop MSI GP72M 7REX-1216XVN</h3>
													<h4 class="product-price">27.999.000 ₫</h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="far fa-heart"></i></i><span class="tooltipp">add to wishlist</span></button>

														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart" style="padding-top: 8px"></i> thêm vào giỏ</button>
												</div>
											</a>
										</div>
										<!-- /product -->
									</div>
									<div id="slick-nav-2" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- SECTION SẢN PHẨM XEM NHIỀU NHẤT-->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">SẢN PHẨM ĐƯỢC XEM NHIỀU NHẤT</h3>
							<!-- <div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class="active"><a data-toggle="tab" href="#tab2">Laptops</a></li>
									<li><a data-toggle="tab" href="#tab2">Smartphones</a></li>
									<li><a data-toggle="tab" href="#tab2">Cameras</a></li>
									<li><a data-toggle="tab" href="#tab2">Accessories</a></li>
								</ul>
							</div> -->
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab2" class="tab-pane fade in active">
									<div class="products-slick" data-nav="#slick-nav-3">
										<!-- Laptop MSI GP72M 7REX-1216XVN (I7-7700HQ) -->
										<!-- product -->
										<div class="product">
											<a href="./detail/msi/msi_GP72M.html">
												<div class="product-img">
													<img src="./images/banchay-10.jpg" alt="">
													<div class="product-label">
														<span class="most-view">MOST-VIEW</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category">MSI</p>
													<h3 class="product-name">Laptop MSI GP72M 7REX-1216XVN (I7-7700HQ)</h3>
													<h4 class="product-price">27.999.000 ₫</h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="far fa-heart"></i></i><span class="tooltipp">add to wishlist</span></button>

														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
												</div>
											</a>
										</div>
										<!-- /product -->

										<!-- Laptop MacBook 13.3" MPXV2ZP/A  -->
										<!-- product -->
										<div class="product">
											<a href="./detail/apple/mac_MPXV2ZP.html">
												<div class="product-img">
													<img src="./images/moinhat-4.png" alt="">
													<div class="product-label">
														<span class="most-view">MOST-VIEW</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category">APPLE</p>
													<h3 class="product-name"> Laptop MacBook 13.3" MPXV2ZP/A</h3>
													<h4 class="product-price">45.990.000 ₫ </h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="far fa-heart"></i><span class="tooltipp">add to wishlist</span></button>

														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
												</div>
											</a>
										</div>
										<!-- /product -->

										<!-- Laptop Dell Inspiron 14 3467-M20NR2 -->
										<!-- product -->
										<div class="product">
											<a href="./detail/dell/Dell Inspiron 14 3467-M20NR21.html">
												<div class="product-img">
													<img src="./images/moinhat-6.jpg" alt="">
													<div class="product-label">
														<span class="most-view">MOST-VIEW</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category">DELL</p>
													<h3 class="product-name">Laptop Dell Inspiron 14 3467-M20NR2</h3>
													<h4 class="product-price">10.290.000 ₫</h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="far fa-heart"></i><span class="tooltipp">add to wishlist</span></button>

														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
												</div>
											</a>
										</div>
										<!-- /product -->

										<!-- Laptop MSI GP62M 7REX-1497XVN (I7-7700HQ) -->
										<!-- product -->
										<div class="product">
											<a href="./detail/msi/msi_GP62M-1497.html">
												<div class="product-img">
													<img src="./images/moinhat-8.jpg" alt="">
													<div class="product-label">
														<span class="most-view">MOST-VIEW</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category">MSI</p>
													<h3 class="product-name">Laptop MSI GP62M 7REX-1497XVN (I7-7700HQ)</h3>
													<h4 class="product-price">28.990.000 ₫</h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="far fa-heart"></i><span class="tooltipp">add to wishlist</span></button>

														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
												</div>
											</a>
										</div>
										<!-- /product -->

										<!-- Laptop MSI GP72M 7REX-1216XVN -->
										<!-- product -->
										<div class="product">
											<a href="./detail/msi/msi_GP72M.html">
												<div class="product-img">
													<img src="./images/moinhat-10.png" alt="">
													<div class="product-label">
														<span class="most-view">MOST-VIEW</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category">MSI</p>
													<h3 class="product-name">Laptop MSI GP72M 7REX-1216XVN</h3>
													<h4 class="product-price">27.999.000 ₫</h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="far fa-heart"></i><span class="tooltipp">add to wishlist</span></button>

														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
												</div>
											</a>
										</div>
										<!-- /product -->
										
										<!-- Laptop Asus UX430UN-GV097T (I7-8550U) -->
										<!-- product -->
										<div class="product">
											<a href="./detail/asus/Asus UX430UN-GV097T.html">
												<div class="product-img">
													<img src="./images/banchay-5.jpg" alt="">
													<div class="product-label">
														<span class="most-view">MOST-VIEW</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category">ASUS</p>
													<h3 class="product-name">Laptop Asus UX430UN-GV097T (I7-8550U)</h3>
													<h4 class="product-price">26.990.000 ₫<del class="product-old-price">28.990.000 ₫</del></h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="far fa-heart"></i><span class="tooltipp">add to wishlist</span></button>

														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
												</div>
											</a>
										</div>
										<!-- /product -->

										<!-- MacBook 13.3" -->
										<!-- product -->
										<div class="product">
											<a href="./detail/apple/mac_MPXU2LL.html">
												<div class="product-img">
													<img src="./images/banchay-2.jpg" alt="">
													<div class="product-label">
														<span class="most-view">MOST-VIEW</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category">APPLE</p>
													<h3 class="product-name">Laptop MacBook 13.3" MPXU2LL/A</h3>
													<h4 class="product-price">39.250.000 ₫ <del class="product-old-price">45.250.000 ₫</del></h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="far fa-heart"></i><span class="tooltipp">add to wishlist</span></button>

														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
												</div>
											</a>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<a href="./detail/apple/mac_MQD32ZP.html">
												<div class="product-img">
													<img src="./images/xemnhieu-1.jpg" alt="">
													<div class="product-label">
														<span class="sale">-30%</span>
														<span class="most-view">MOST-VIEW</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category">APPLE</p>
													<h3 class="product-name">Laptop MacBook Air MQD32ZP/A</h3>
													<h4 class="product-price">22.490.000 ₫</h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="far fa-heart"></i><span class="tooltipp">add to wishlist</span></button>

														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
												</div>
											</a>
										</div>
										<!-- /product -->

										<!-- Laptop MSI GV62 7RD-1882XVN (I7-7700HQ) -->
										<!-- product -->
										<div class="product">
											<a href="./detail/msi/msi_GV62-1882XVN.html">
												<div class="product-img">
													<img src="./images/xemnhieu-2.jpg" alt="">
													<div class="product-label">
														<span class="sale">-30%</span>
														<span class="most-view">MOST-VIEW</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category">MSI</p>
													<h3 class="product-name">Laptop MSI GV62 7RD-1882XVN (I7-7700HQ)</h3>
													<h4 class="product-price">23.990.000 ₫</h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="far fa-heart"></i><span class="tooltipp">add to wishlist</span></button>

														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
												</div>
											</a>
										</div>
										<!-- /product -->

										<!-- Laptop Asus UX430UN-GV097T (I7-8550U) -->
										<!-- product -->
										<div class="product">
											<a href="./detail/asus/Asus UX430UN-GV097T.html">
												<div class="product-img">
													<img src="./images/xemnhieu-3.jpg" alt="">
													<div class="product-label">
														<span class="sale">-30%</span>
														<span class="most-view">MOST-VIEW</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category">ASUS</p>
													<h3 class="product-name">Laptop Asus UX430UN-GV097T (I7-8550U)</h3>
													<h4 class="product-price">26.990.000 ₫</h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i class="far fa-heart"></i><span class="tooltipp">add to wishlist</span></button>

														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
												</div>
											</a>
										</div>
										<!-- /product -->
									</div>
									<div id="slick-nav-3" class="products-slick-nav">

									</div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- /Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

	<% include template/footer %>